<a href="https://colab.research.google.com/github/AdaChornelia/30-seconds-of-code/blob/master/Copy_of_demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mastering Data Cleaning Techniques (demo)

Welcome to this seminars for the Research data academy organized by the HKU Libraries.

## Part 1: Set up

### Step 0: Mount google drive (if you get dataset from your Google Drive)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Step 1: Install library

In [ ]:
! pip install pandas
! pip install datetime

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: datetime in /usr/local/lib/python3.10/dist-packages (5.5)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.10/dist-packages (from datetime) (6.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from datetime) (2023.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from zope.interface->datetime) (67.7.2)

### Step 2: Import library

In [ ]:
import pandas as pd
from datetime import datetime
from google.colab import files

## Part 2: Import data

### Step 1: import data by reading .csv file as dataframe

If you just upload file, please use the following code:

In [ ]:
df1 = pd.read_csv('demo_dataset - data 1.csv')
df2 = pd.read_csv('demo_dataset - data 2.csv')

If you already upload file to Google Drive, please use the following code (amend the file path if needed):

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/Data literacy/python /demo_dataset - data 1.csv')
df2 = pd.read_csv('/content/drive/MyDrive/Data literacy/python /demo_dataset - data 2.csv')

### Step 2: Return infomation about a dataframe

In [ ]:
df1.head(10)

,Employee ID,First Name,Last Name,Gender,Age,Department,Job Position,Date of Joining,Email
0,9061,MARIA,SMITH,FEMALE,42.0,MARKETING,MARKETING MANAGER,2020-11-27,andrea60@example.hkul.com
1,9870,KELLY,BRADFORD,F,58.0,SALES,sales director,31 Mar 2023,tina98@example.hkul.com
2,5120,LESLIE,NAVARRO,FEMALE,38.0,FINANCE,NaN,2022-06-26,perezjennifer@example.hkul.com
3,5695,ANTHONY,JOHNSON,MALE,NaN,MARKETING,MARKETING DIRECTOR,3/5/2019,thomascox@example.hkul.com
4,3353,PAUL,BOYD,M,43.0,FINANCE,FINANCE MANAGER,2020-04-24,bradleydelgado@example.hkul.com
5,5941,SHERRY,BENNETT,FEMALE,NaN,HR,hr coordinator,"Thursday, 2 November 2023",andrew54@example.hkul.com
6,2752,CASSANDRA,ROBINSON,FELMAE,31.0,IT,IT SPECIALIST,2019-02-12,justin61@example.hkul.com
7,7372,JANE,BARTON,FEMALE,NaN,NaN,marketing coordinator,2020-10-13,bruce01@example.hkul.com
8,2752,CASSANDRA,ROBINSON,FEMALE,31.0,IT,IT SPECIALIST,2019-02-12,justin61@example.hkul.com
9,7823,CHAD,FOWLER,MAN,31.0,IT,IT ANALYST,2020-04-09,wattsarthur@example.hkul.com

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Employee ID      101 non-null    int64
 1   First Name       101 non-null    object
 2   Last Name        101 non-null    object
 3   Gender           101 non-null    object
 4   Age              98 non-null     float64
 5   Department       100 non-null    object
 6   Job Position     100 non-null    object
 7   Date of Joining  101 non-null    object
 8   Email            101 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 7.2+ KB

In [ ]:
df2

    Employee ID Phone Number  Performance Rating  Leave Balance
0          9061    2870 0619                   3              9
1          9870    2397 1268                   3              8
2          5120    2487 7968                   3             12
3          5695    2880 7100                   4             17
4          3353    3161 5400                   3              6
..          ...          ...                 ...            ...
95         1982    2758 8808                   3             18
96         9918    2729 4209                   3              4
97         1139    2719 1200                   3             10
98         5046    2713 2600                   3              4
99         2904    2728 0728                   3             11

[100 rows x 4 columns]

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Employee ID         100 non-null    int64
 1   Phone Number        100 non-null    object
 2   Performance Rating  100 non-null    int64
 3   Leave Balance       100 non-null    int64
dtypes: int64(3), object(1)
memory usage: 3.2+ KB

## Part 3: Merge dataset

### Step 1: Merge dataset base on merge key

In [ ]:
merged_df = df1.merge(df2, on='Employee ID')
merged_df

,Employee ID,First Name,Last Name,Gender,Age,Department,Job Position,Date of Joining,Email,Phone Number,Performance Rating,Leave Balance
0,9061,MARIA,SMITH,FEMALE,42.0,MARKETING,MARKETING MANAGER,2020-11-27,andrea60@example.hkul.com,2870 0619,3,9
1,9870,KELLY,BRADFORD,F,58.0,SALES,sales director,31 Mar 2023,tina98@example.hkul.com,2397 1268,3,8
2,5120,LESLIE,NAVARRO,FEMALE,38.0,FINANCE,NaN,2022-06-26,perezjennifer@example.hkul.com,2487 7968,3,12
3,5695,ANTHONY,JOHNSON,MALE,NaN,MARKETING,MARKETING DIRECTOR,3/5/2019,thomascox@example.hkul.com,2880 7100,4,17
4,3353,PAUL,BOYD,M,43.0,FINANCE,FINANCE MANAGER,2020-04-24,bradleydelgado@example.hkul.com,3161 5400,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...
96,1982,JESSICA,VARGAS,FEMALE,28.0,HR,HR COORDINATOR,2022-08-03,jonathanparker@example.hkul.com,2758 8808,3,18
97,9918,SARA,SANCHEZ,FEMALE,35.0,HR,HR COORDINATOR,2020-09-02,xgreene@example.hkul.com,2729 4209,3,4
98,1139,VICTOR,CARPENTER,MALE,54.0,SALES,SALES DIRECTOR,2022-11-30,xedwards@example.hkul.com,2719 1200,3,10
99,5046,EMILY,MARTINEZ,FEMALE,57.0,SALES,SALES DIRECTOR,2023-11-11,lewiskevin@example.hkul.com,2713 2600,3,4
100,2904,KAREN,BISHOP,FEMALE,33.0,FINANCE,FINANCIAL ANALYST,2023-01-04,nicolemercado@example.hkul.com,2728 0728,3,11

In [ ]:
merged_df.dtypes

Employee ID             int64
First Name             object
Last Name              object
Gender                 object
Age                   float64
Department             object
Job Position           object
Date of Joining        object
Email                  object
Phone Number           object
Performance Rating      int64
Leave Balance           int64
dtype: object

## Part 4: Missing value

### Step 1: Find column with null values and display as list

In [ ]:
columns_with_null = merged_df.columns[merged_df.isnull().any()].tolist()

print("Columns with null values:")
print(columns_with_null)

Columns with null values:
['Age', 'Department', 'Job Position']

### Step 2: Locate with null values in column

In [ ]:
missing_age = merged_df[merged_df['Age'].isnull()]
missing_age

,Employee ID,First Name,Last Name,Gender,Age,Department,Job Position,Date of Joining,Email,Phone Number,Performance Rating,Leave Balance
3,5695,ANTHONY,JOHNSON,MALE,NaN,MARKETING,MARKETING DIRECTOR,3/5/2019,thomascox@example.hkul.com,2880 7100,4,17
5,5941,SHERRY,BENNETT,FEMALE,NaN,HR,hr coordinator,"Thursday, 2 November 2023",andrew54@example.hkul.com,2351 3982,3,12
8,7372,JANE,BARTON,FEMALE,NaN,NaN,marketing coordinator,2020-10-13,bruce01@example.hkul.com,2893 3336,3,12

### Step 3: Fill in the missing value

In [ ]:
merged_df.at[3, 'Age'] = 57
merged_df.at[5, 'Age'] = 23
merged_df.at[8, 'Age'] = 26
merged_df.head(10)

,Employee ID,First Name,Last Name,Gender,Age,Department,Job Position,Date of Joining,Email,Phone Number,Performance Rating,Leave Balance
0,9061,MARIA,SMITH,FEMALE,42.0,MARKETING,MARKETING MANAGER,2020-11-27,andrea60@example.hkul.com,2870 0619,3,9
1,9870,KELLY,BRADFORD,F,58.0,SALES,sales director,31 Mar 2023,tina98@example.hkul.com,2397 1268,3,8
2,5120,LESLIE,NAVARRO,FEMALE,38.0,FINANCE,NaN,2022-06-26,perezjennifer@example.hkul.com,2487 7968,3,12
3,5695,ANTHONY,JOHNSON,MALE,57.0,MARKETING,MARKETING DIRECTOR,3/5/2019,thomascox@example.hkul.com,2880 7100,4,17
4,3353,PAUL,BOYD,M,43.0,FINANCE,FINANCE MANAGER,2020-04-24,bradleydelgado@example.hkul.com,3161 5400,3,6
5,5941,SHERRY,BENNETT,FEMALE,23.0,HR,hr coordinator,"Thursday, 2 November 2023",andrew54@example.hkul.com,2351 3982,3,12
6,2752,CASSANDRA,ROBINSON,FELMAE,31.0,IT,IT SPECIALIST,2019-02-12,justin61@example.hkul.com,2563 3189,3,14
7,2752,CASSANDRA,ROBINSON,FEMALE,31.0,IT,IT SPECIALIST,2019-02-12,justin61@example.hkul.com,2563 3189,3,14
8,7372,JANE,BARTON,FEMALE,26.0,NaN,marketing coordinator,2020-10-13,bruce01@example.hkul.com,2893 3336,3,12
9,7823,CHAD,FOWLER,MAN,31.0,IT,IT ANALYST,2020-04-09,wattsarthur@example.hkul.com,2407 2788,3,9

In [ ]:
merged_df.at[8, 'Department'] = 'MARKETING'
merged_df.at[2, 'Job Position'] = 'FINANCIAL ANALYST'
merged_df.head(10)

,Employee ID,First Name,Last Name,Gender,Age,Department,Job Position,Date of Joining,Email,Phone Number,Performance Rating,Leave Balance
0,9061,MARIA,SMITH,FEMALE,42.0,MARKETING,MARKETING MANAGER,2020-11-27,andrea60@example.hkul.com,2870 0619,3,9
1,9870,KELLY,BRADFORD,F,58.0,SALES,sales director,31 Mar 2023,tina98@example.hkul.com,2397 1268,3,8
2,5120,LESLIE,NAVARRO,FEMALE,38.0,FINANCE,FINANCIAL ANALYST,2022-06-26,perezjennifer@example.hkul.com,2487 7968,3,12
3,5695,ANTHONY,JOHNSON,MALE,57.0,MARKETING,MARKETING DIRECTOR,3/5/2019,thomascox@example.hkul.com,2880 7100,4,17
4,3353,PAUL,BOYD,M,43.0,FINANCE,FINANCE MANAGER,2020-04-24,bradleydelgado@example.hkul.com,3161 5400,3,6
5,5941,SHERRY,BENNETT,FEMALE,23.0,HR,hr coordinator,"Thursday, 2 November 2023",andrew54@example.hkul.com,2351 3982,3,12
6,2752,CASSANDRA,ROBINSON,FELMAE,31.0,IT,IT SPECIALIST,2019-02-12,justin61@example.hkul.com,2563 3189,3,14
7,2752,CASSANDRA,ROBINSON,FEMALE,31.0,IT,IT SPECIALIST,2019-02-12,justin61@example.hkul.com,2563 3189,3,14
8,7372,JANE,BARTON,FEMALE,26.0,MARKETING,marketing coordinator,2020-10-13,bruce01@example.hkul.com,2893 3336,3,12
9,7823,CHAD,FOWLER,MAN,31.0,IT,IT ANALYST,2020-04-09,wattsarthur@example.hkul.com,2407 2788,3,9

## Part 5: Inconsistent data formatting - date

### Step 1: Convert a column of Dataframe to datatime object

In [ ]:
# ISO 8601 date fromat: “YYYY-MM-DD”
merged_df['Date of Joining'] = pd.to_datetime(merged_df['Date of Joining'], errors='coerce')
merged_df.head(10)

,Employee ID,First Name,Last Name,Gender,Age,Department,Job Position,Date of Joining,Email,Phone Number,Performance Rating,Leave Balance
0,9061,MARIA,SMITH,FEMALE,42.0,MARKETING,MARKETING MANAGER,2020-11-27,andrea60@example.hkul.com,2870 0619,3,9
1,9870,KELLY,BRADFORD,F,58.0,SALES,sales director,2023-03-31,tina98@example.hkul.com,2397 1268,3,8
2,5120,LESLIE,NAVARRO,FEMALE,38.0,FINANCE,FINANCIAL ANALYST,2022-06-26,perezjennifer@example.hkul.com,2487 7968,3,12
3,5695,ANTHONY,JOHNSON,MALE,57.0,MARKETING,MARKETING DIRECTOR,2019-03-05,thomascox@example.hkul.com,2880 7100,4,17
4,3353,PAUL,BOYD,M,43.0,FINANCE,FINANCE MANAGER,2020-04-24,bradleydelgado@example.hkul.com,3161 5400,3,6
5,5941,SHERRY,BENNETT,FEMALE,23.0,HR,hr coordinator,2023-11-02,andrew54@example.hkul.com,2351 3982,3,12
6,2752,CASSANDRA,ROBINSON,FELMAE,31.0,IT,IT SPECIALIST,2019-02-12,justin61@example.hkul.com,2563 3189,3,14
7,2752,CASSANDRA,ROBINSON,FEMALE,31.0,IT,IT SPECIALIST,2019-02-12,justin61@example.hkul.com,2563 3189,3,14
8,7372,JANE,BARTON,FEMALE,26.0,MARKETING,marketing coordinator,2020-10-13,bruce01@example.hkul.com,2893 3336,3,12
9,7823,CHAD,FOWLER,MAN,31.0,IT,IT ANALYST,2020-04-09,wattsarthur@example.hkul.com,2407 2788,3,9

### Step 2: Check data type

In [ ]:
merged_df.dtypes

Employee ID                    int64
First Name                    object
Last Name                     object
Gender                        object
Age                          float64
Department                    object
Job Position                  object
Date of Joining       datetime64[ns]
Email                         object
Phone Number                  object
Performance Rating             int64
Leave Balance                  int64
dtype: object

### Other date style

In [ ]:
merged_df['Date of Joining'] = merged_df['Date of Joining'].dt.strftime("%Y/%m/%d")
merged_df

,Employee ID,First Name,Last Name,Gender,Age,Department,Job Position,Date of Joining,Email,Phone Number,Performance Rating,Leave Balance
0,9061,MARIA,SMITH,FEMALE,42.0,MARKETING,MARKETING MANAGER,2020/11/27,andrea60@example.hkul.com,2870 0619,3,9
1,9870,KELLY,BRADFORD,F,58.0,SALES,sales director,2023/03/31,tina98@example.hkul.com,2397 1268,3,8
2,5120,LESLIE,NAVARRO,FEMALE,38.0,FINANCE,FINANCIAL ANALYST,2022/06/26,perezjennifer@example.hkul.com,2487 7968,3,12
3,5695,ANTHONY,JOHNSON,MALE,57.0,MARKETING,MARKETING DIRECTOR,2019/03/05,thomascox@example.hkul.com,2880 7100,4,17
4,3353,PAUL,BOYD,M,43.0,FINANCE,FINANCE MANAGER,2020/04/24,bradleydelgado@example.hkul.com,3161 5400,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...
96,1982,JESSICA,VARGAS,FEMALE,28.0,HR,HR COORDINATOR,2022/08/03,jonathanparker@example.hkul.com,2758 8808,3,18
97,9918,SARA,SANCHEZ,FEMALE,35.0,HR,HR COORDINATOR,2020/09/02,xgreene@example.hkul.com,2729 4209,3,4
98,1139,VICTOR,CARPENTER,MALE,54.0,SALES,SALES DIRECTOR,2022/11/30,xedwards@example.hkul.com,2719 1200,3,10
99,5046,EMILY,MARTINEZ,FEMALE,57.0,SALES,SALES DIRECTOR,2023/11/11,lewiskevin@example.hkul.com,2713 2600,3,4
100,2904,KAREN,BISHOP,FEMALE,33.0,FINANCE,FINANCIAL ANALYST,2023/01/04,nicolemercado@example.hkul.com,2728 0728,3,11

## Part 6: Inconsistent data formatting - change case

### Step 1: Change to all upper case



*   Convert to uppercase: upper()
*   Convert to lowercase: lower()
*   Capitalize string: capitalize()

In [ ]:
merged_df['First Name'] = merged_df['First Name'].str.upper()
merged_df['Last Name'] = merged_df['Last Name'].str.upper()
merged_df['Gender'] = merged_df['Gender'].str.upper()
merged_df['Department'] = merged_df['Department'].str.upper()
merged_df['Job Position'] = merged_df['Job Position'].str.upper()
merged_df.head(10)

,Employee ID,First Name,Last Name,Gender,Age,Department,Job Position,Date of Joining,Email,Phone Number,Performance Rating,Leave Balance
0,9061,MARIA,SMITH,FEMALE,42.0,MARKETING,MARKETING MANAGER,2020/11/27,andrea60@example.hkul.com,2870 0619,3,9
1,9870,KELLY,BRADFORD,F,58.0,SALES,SALES DIRECTOR,2023/03/31,tina98@example.hkul.com,2397 1268,3,8
2,5120,LESLIE,NAVARRO,FEMALE,38.0,FINANCE,FINANCIAL ANALYST,2022/06/26,perezjennifer@example.hkul.com,2487 7968,3,12
3,5695,ANTHONY,JOHNSON,MALE,57.0,MARKETING,MARKETING DIRECTOR,2019/03/05,thomascox@example.hkul.com,2880 7100,4,17
4,3353,PAUL,BOYD,M,43.0,FINANCE,FINANCE MANAGER,2020/04/24,bradleydelgado@example.hkul.com,3161 5400,3,6
5,5941,SHERRY,BENNETT,FEMALE,23.0,HR,HR COORDINATOR,2023/11/02,andrew54@example.hkul.com,2351 3982,3,12
6,2752,CASSANDRA,ROBINSON,FELMAE,31.0,IT,IT SPECIALIST,2019/02/12,justin61@example.hkul.com,2563 3189,3,14
7,2752,CASSANDRA,ROBINSON,FEMALE,31.0,IT,IT SPECIALIST,2019/02/12,justin61@example.hkul.com,2563 3189,3,14
8,7372,JANE,BARTON,FEMALE,26.0,MARKETING,MARKETING COORDINATOR,2020/10/13,bruce01@example.hkul.com,2893 3336,3,12
9,7823,CHAD,FOWLER,MAN,31.0,IT,IT ANALYST,2020/04/09,wattsarthur@example.hkul.com,2407 2788,3,9

## Part 7: Inconsistent column names / values

### Step 1: Count the value of column 'Gender'

In [ ]:
merged_df['Gender'].value_counts()

MALE      54
FEMALE    43
F          1
M          1
FELMAE     1
MAN        1
Name: Gender, dtype: int64

### Step 2: Convert the values starting with 'F' to 'FEMALE' and values starting with 'M' to 'MALE'

In [ ]:
merged_df['Gender'] = merged_df['Gender'].apply(lambda x: 'MALE' if x.startswith('M') else 'FEMALE' if x.startswith('F') else x)
merged_df.head(10)

,Employee ID,First Name,Last Name,Gender,Age,Department,Job Position,Date of Joining,Email,Phone Number,Performance Rating,Leave Balance
0,9061,MARIA,SMITH,FEMALE,42.0,MARKETING,MARKETING MANAGER,2020/11/27,andrea60@example.hkul.com,2870 0619,3,9
1,9870,KELLY,BRADFORD,FEMALE,58.0,SALES,SALES DIRECTOR,2023/03/31,tina98@example.hkul.com,2397 1268,3,8
2,5120,LESLIE,NAVARRO,FEMALE,38.0,FINANCE,FINANCIAL ANALYST,2022/06/26,perezjennifer@example.hkul.com,2487 7968,3,12
3,5695,ANTHONY,JOHNSON,MALE,57.0,MARKETING,MARKETING DIRECTOR,2019/03/05,thomascox@example.hkul.com,2880 7100,4,17
4,3353,PAUL,BOYD,MALE,43.0,FINANCE,FINANCE MANAGER,2020/04/24,bradleydelgado@example.hkul.com,3161 5400,3,6
5,5941,SHERRY,BENNETT,FEMALE,23.0,HR,HR COORDINATOR,2023/11/02,andrew54@example.hkul.com,2351 3982,3,12
6,2752,CASSANDRA,ROBINSON,FEMALE,31.0,IT,IT SPECIALIST,2019/02/12,justin61@example.hkul.com,2563 3189,3,14
7,2752,CASSANDRA,ROBINSON,FEMALE,31.0,IT,IT SPECIALIST,2019/02/12,justin61@example.hkul.com,2563 3189,3,14
8,7372,JANE,BARTON,FEMALE,26.0,MARKETING,MARKETING COORDINATOR,2020/10/13,bruce01@example.hkul.com,2893 3336,3,12
9,7823,CHAD,FOWLER,MALE,31.0,IT,IT ANALYST,2020/04/09,wattsarthur@example.hkul.com,2407 2788,3,9

In [ ]:
merged_df['Gender'].value_counts()

MALE      56
FEMALE    45
Name: Gender, dtype: int64

## Part 8: Duplicate

### Step 1: Check duplicated row

In [ ]:
merged_df[merged_df.duplicated(keep=False)]

,Employee ID,First Name,Last Name,Gender,Age,Department,Job Position,Date of Joining,Email,Phone Number,Performance Rating,Leave Balance
6,2752,CASSANDRA,ROBINSON,FEMALE,31.0,IT,IT SPECIALIST,2019/02/12,justin61@example.hkul.com,2563 3189,3,14
7,2752,CASSANDRA,ROBINSON,FEMALE,31.0,IT,IT SPECIALIST,2019/02/12,justin61@example.hkul.com,2563 3189,3,14

### Step 2: Drop duplicated row

In [ ]:
merged_df = merged_df.drop_duplicates()
merged_df.head(10)

,Employee ID,First Name,Last Name,Gender,Age,Department,Job Position,Date of Joining,Email,Phone Number,Performance Rating,Leave Balance
0,9061,MARIA,SMITH,FEMALE,42.0,MARKETING,MARKETING MANAGER,2020/11/27,andrea60@example.hkul.com,2870 0619,3,9
1,9870,KELLY,BRADFORD,FEMALE,58.0,SALES,SALES DIRECTOR,2023/03/31,tina98@example.hkul.com,2397 1268,3,8
2,5120,LESLIE,NAVARRO,FEMALE,38.0,FINANCE,FINANCIAL ANALYST,2022/06/26,perezjennifer@example.hkul.com,2487 7968,3,12
3,5695,ANTHONY,JOHNSON,MALE,57.0,MARKETING,MARKETING DIRECTOR,2019/03/05,thomascox@example.hkul.com,2880 7100,4,17
4,3353,PAUL,BOYD,MALE,43.0,FINANCE,FINANCE MANAGER,2020/04/24,bradleydelgado@example.hkul.com,3161 5400,3,6
5,5941,SHERRY,BENNETT,FEMALE,23.0,HR,HR COORDINATOR,2023/11/02,andrew54@example.hkul.com,2351 3982,3,12
6,2752,CASSANDRA,ROBINSON,FEMALE,31.0,IT,IT SPECIALIST,2019/02/12,justin61@example.hkul.com,2563 3189,3,14
8,7372,JANE,BARTON,FEMALE,26.0,MARKETING,MARKETING COORDINATOR,2020/10/13,bruce01@example.hkul.com,2893 3336,3,12
9,7823,CHAD,FOWLER,MALE,31.0,IT,IT ANALYST,2020/04/09,wattsarthur@example.hkul.com,2407 2788,3,9
10,1067,JODI,HUNTER,FEMALE,54.0,FINANCE,FINANCE DIRECTOR,2023/07/14,nancymiller@example.hkul.com,2880 5334,3,17

In [ ]:
merged_df = merged_df.reset_index(drop=True)
merged_df.head(10)

,Employee ID,First Name,Last Name,Gender,Age,Department,Job Position,Date of Joining,Email,Phone Number,Performance Rating,Leave Balance
0,9061,MARIA,SMITH,FEMALE,42.0,MARKETING,MARKETING MANAGER,2020/11/27,andrea60@example.hkul.com,2870 0619,3,9
1,9870,KELLY,BRADFORD,FEMALE,58.0,SALES,SALES DIRECTOR,2023/03/31,tina98@example.hkul.com,2397 1268,3,8
2,5120,LESLIE,NAVARRO,FEMALE,38.0,FINANCE,FINANCIAL ANALYST,2022/06/26,perezjennifer@example.hkul.com,2487 7968,3,12
3,5695,ANTHONY,JOHNSON,MALE,57.0,MARKETING,MARKETING DIRECTOR,2019/03/05,thomascox@example.hkul.com,2880 7100,4,17
4,3353,PAUL,BOYD,MALE,43.0,FINANCE,FINANCE MANAGER,2020/04/24,bradleydelgado@example.hkul.com,3161 5400,3,6
5,5941,SHERRY,BENNETT,FEMALE,23.0,HR,HR COORDINATOR,2023/11/02,andrew54@example.hkul.com,2351 3982,3,12
6,2752,CASSANDRA,ROBINSON,FEMALE,31.0,IT,IT SPECIALIST,2019/02/12,justin61@example.hkul.com,2563 3189,3,14
7,7372,JANE,BARTON,FEMALE,26.0,MARKETING,MARKETING COORDINATOR,2020/10/13,bruce01@example.hkul.com,2893 3336,3,12
8,7823,CHAD,FOWLER,MALE,31.0,IT,IT ANALYST,2020/04/09,wattsarthur@example.hkul.com,2407 2788,3,9
9,1067,JODI,HUNTER,FEMALE,54.0,FINANCE,FINANCE DIRECTOR,2023/07/14,nancymiller@example.hkul.com,2880 5334,3,17

## Part 9: Lending /Trailing whitespace

### Step 1: Check whitespace

In [ ]:
for column in merged_df.columns:
    if (merged_df[column].astype(str).str.startswith(' ') | merged_df[column].astype(str).str.endswith(' ')).any():
        print(f"Column '{column}' has leading or trailing whitespace.")

Column 'Email' has leading or trailing whitespace.

In [ ]:
whitespace = merged_df['Email'].str.startswith(' ') | merged_df['Email'].str.endswith(' ')
whitespace

0      True
1     False
2     False
3      True
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: Email, Length: 100, dtype: bool

In [ ]:
merged_df['Email'][3]

' thomascox@example.hkul.com '

### Step 2: Remove leading and trailing whitespace

*   remove both leading and trailing whitespace: strip()
*   remove only leading whitespace: lstrip()
*   remove only trailing whiteshpace: rstrip()

In [ ]:
merged_df['Email'] = merged_df['Email'].str.strip()
merged_df

,Employee ID,First Name,Last Name,Gender,Age,Department,Job Position,Date of Joining,Email,Phone Number,Performance Rating,Leave Balance
0,9061,MARIA,SMITH,FEMALE,42.0,MARKETING,MARKETING MANAGER,2020/11/27,andrea60@example.hkul.com,2870 0619,3,9
1,9870,KELLY,BRADFORD,FEMALE,58.0,SALES,SALES DIRECTOR,2023/03/31,tina98@example.hkul.com,2397 1268,3,8
2,5120,LESLIE,NAVARRO,FEMALE,38.0,FINANCE,FINANCIAL ANALYST,2022/06/26,perezjennifer@example.hkul.com,2487 7968,3,12
3,5695,ANTHONY,JOHNSON,MALE,57.0,MARKETING,MARKETING DIRECTOR,2019/03/05,thomascox@example.hkul.com,2880 7100,4,17
4,3353,PAUL,BOYD,MALE,43.0,FINANCE,FINANCE MANAGER,2020/04/24,bradleydelgado@example.hkul.com,3161 5400,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...
95,1982,JESSICA,VARGAS,FEMALE,28.0,HR,HR COORDINATOR,2022/08/03,jonathanparker@example.hkul.com,2758 8808,3,18
96,9918,SARA,SANCHEZ,FEMALE,35.0,HR,HR COORDINATOR,2020/09/02,xgreene@example.hkul.com,2729 4209,3,4
97,1139,VICTOR,CARPENTER,MALE,54.0,SALES,SALES DIRECTOR,2022/11/30,xedwards@example.hkul.com,2719 1200,3,10
98,5046,EMILY,MARTINEZ,FEMALE,57.0,SALES,SALES DIRECTOR,2023/11/11,lewiskevin@example.hkul.com,2713 2600,3,4
99,2904,KAREN,BISHOP,FEMALE,33.0,FINANCE,FINANCIAL ANALYST,2023/01/04,nicolemercado@example.hkul.com,2728 0728,3,11

In [ ]:
merged_df['Email'][3]

'thomascox@example.hkul.com'

## Part 10: Export data

Download the dataframe to Google Drive

In [ ]:
merged_df.to_csv('/content/drive/MyDrive/Data literacy/python /output1.csv', index = False)

In [ ]:
merged_df.to_excel('/content/drive/MyDrive/Data literacy/python /output2.xlsx', index = False)

Download the dataframe to local machine

In [ ]:
merged_df.to_csv('df1.csv')
files.download('df1.csv')

In [ ]:
merged_df.to_excel('df2.xlsx')
files.download('df2.xlsx')